body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(255, 211, 141);
}
.toolbar {
    margin-bottom: 10px;
}
 .pushable {
    background: hsl(12, 97%, 47%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(20, 100%, 52%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }
#drawing {
    border: 1px solid #ccc;
    margin: auto;
    width: 800px;
    height: 500px;
    background: #fafafa;
    touch-action: none;      /* Prevents touch gestures like scroll, pinch, zoom */
    -ms-touch-action: none;  /* For older IE/Edge */
} 
